body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background: #363333;
  background-size: cover;
}
canvas {
  border: 30px solid #e80000;
  border-radius: 8px;
  /* Set the width and height to half the actual size so it doesn't look pixelated */
  width: 1000px;
  height: 625px;
  background: white;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#shake {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  border-color: whitesmoke;
}
.slider {
  -webkit-appearance: none;
  width: 800px;
  height: 15px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-left: 5px;
  margin-right: 5px;
}
#color-button {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  border-color: whitesmoke;
}
